@font-face {
	font-family: 'ChicagoFLF';
	src: url('fonts/chicagoflf-webfont.woff2') format('woff2'),
		   url('fonts/chicagoflf-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

body {
	margin: 0;
	font-family: Arial, Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: antiquewhite;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 5px
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 600px) {
	body {
		font-size: 16px;
	}
}
